.appointment {
  margin: 0 auto;
}

.appointment__inputs {
  padding-bottom: 42px;
  padding-top: 40px;

}

.appointment__text {
  font-size: 14px;
  padding-top: 50px;
  text-align: center;
}

.appointment__name {
  color: #d22856;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  padding-left: 42px;
}

.appointment__input {
  width: 236px;
  border: 2px solid #e5e5e5;
  padding: 18px 20px 18px 20px;
  margin-left: 20px;
}

.appointment__checkbox {
  background-color: #f2f2f2;
  text-align: left;
}

.appointment__legend {
  color: #d22856;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.appointment__item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  &:last-child {
    padding-bottom: 42px;
  }
}

.appointment__button {
  font-weight: 700;
  color: #ffffff;
  background-color: #2aab6d;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 0px solid #ffffff;
  padding: 22px 49px 22px 49px;

}

.appointment__necessarily {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.appointment__pink {
  color: #d22856;
}
