.button {
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  &:hover {
    color: #d22856;
  }

  &:active {
    color: #d22856;
    opacity: 0.3;
  }
}

.button--red {
  color: #d22856;
}

.button--gray {
  color: rgba(40, 54, 69, 0.1);
}
