.download {
  min-height: 666px;
  background-color: #1d2631;
  text-align: center;
}

.download__background {
  min-height: 400px;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: content, cover;
  background-position: bottom left, center;
  margin-bottom: 40px;
}

.download__list {
  display: flex; /* временно пропишу флексбокс, чтобы можно было примерно подсчитать расстояния отступов */
  justify-content: space-around;
  align-items: baseline;
  margin-top: 30px;
  margin-bottom: 14px;
}

.download__content {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  margin: 0 auto;
}
