.export {
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 79px;
}

.export__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.export__buttons-container {
  display: flex;
  flex-direction: column;
}

.export__panel {
  text-align: center;
  margin-top: 40px;
}

.export__filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 34px;
  margin-right: 45px;
}

.export__scale--mobile {
  width: 240px;
  background-color: #000000;
  height: 2px;
  margin: 10px 20px;
  position: relative;
  margin-top: 29px;
  margin-bottom: 73px;
}

.export__scale--mobile::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: -5px;
  left: 80%;
  background-color: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 50%;

  &:active {
    background-color: #d22856;
  }
}

@media (min-width: 660px) {
  .export {
    min-height: 0;
    padding-top: 60px;
    padding-bottom: 55px;
  }

  .export__wrapper {
    width: 620px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .export__panel {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .export__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #dddfe0;
  }

  .export__filters {
    display: flex;
    flex-direction: column;
  }

  .export__scale--first {
    width: 200px;
    background-color: #000000;
    height: 2px;
    margin: 25px 20px;
    position: relative;
  }

  .export__toggle {
    position: absolute;
    width: 5px;
    height: 5px;
    top: -3px;
    left: 80%;
    background-color: #f2f2f2;
    border: 2px solid #d22856;
    border-radius: 50%;

    &:active {
      background-color: #d22856;
    }
  }

  .export__scale--second {
    width: 200px;
    background-color: #000000;
    height: 2px;
    margin: 25px 20px;
    position: relative;
  }

  .export__scale--third {
    width: 200px;
    background-color: #000000;
    height: 2px;
    margin: 25px 20px;
    position: relative;
  }

  .export__scale--mobile {
    display: none;
  }

  .export__scale--mobile::before {
    display: none;
  }

  .export__buttons-container {
    margin-top: 65px;
  }
}

@media (min-width: 960px) {
  .export__wrapper {
    width: 940px;
    padding: 0 10px;
    background-color: #f2f2f2;
  }

  .export__buttons-container {
    display: flex;
    flex-direction: row;
  }
}
