.features {
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 320px;
  background-image: url("../img/bg-triangle-white.svg"), url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, auto;
  background-position: top, bottom -40px center;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-triangle-white.svg"), url("../img/iphone-screen-mobile@2x.png");
  }
}

.features__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.features__enter {
  min-height: 216px;
  background-color: #ffffff;
}

.features__list {
  padding-top: 70px;
}

.features__title {
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 15px;
}

.features__content {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  padding-bottom: 30px;
}

@media (min-width: 660px) {
  .features {
    padding-top: 75px;
    padding-bottom: 45px;
    background-image: url("../img/bg-triangle-white.svg"), url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, auto 100%;
    background-position: top, left center;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-triangle-white.svg"), url("../img/iphone-screen-3-tablet@2x.png");
    }
  }

  .features__wrapper {
    min-width: 620px;
    padding: 0 20px;
  }

  .features__list {
    text-align: left;
    width: 50%;
    padding-left: 50%;
  }

  .features__list:last-child {
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media (min-width: 960px) {
  .features {
    padding-top: 0;
    padding-bottom: 25px;
    background-image: none;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
  }

  .features__wrapper {
    min-width: 940px;
    padding: 0 10px;
  }

  .features__list {
    width: 100%;
    padding-top: 355px;
    padding-left: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .features__item {
    padding-top: 360px;
  }

  .features__item:first-child {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 0%;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
    }
  }

  .features__item:nth-child(2) {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 0%;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
    }
  }

  .features__item:nth-child(3) {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 0%;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../iphone-screen-3-desktop@2x.png");
    }
  }

  .features__title {
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 30px;
  }

  .features__content {
    line-height: 30px;
  }
}
