.logo__image1 {
  display: block;
}

.logo__image2 {
  display: none;
}

.logo__image3 {
  display: none;
}

.logo__html {
  fill: #d22856;

  &:hover {
    fill: #283645;
  }

  &:active {
    fill: #283645;
    opacity: 0.3;
  }
}

@media (min-width: 660px) {
  .logo__image1 {
    display: none;
  }

  .logo__image2 {
    display: block;
  }

  .logo__image3 {
    display: none;
  }
}

@media (min-width: 960px) {
  .logo__image1 {
    display: none;
  }

  .logo__image2 {
    display: none;
  }

  .logo__image3 {
    display: block;
  }
}
