.logo__image1 {
  display: block;
}

.logo__image2 {
  display: none;
}

.logo__image3 {
  display: none;
}

.logo__button {
  display: block;
}

@media (min-width: 660px) {
  .logo__image1 {
    display: none;
  }

  .logo__image2 {
    display: block;
  }

  .logo__image3 {
    display: none;
  }

  .logo__button {
    display: block;
  }
}

@media (min-width: 960px) {
  .logo__image1 {
    display: none;
  }

  .logo__image2 {
    display: none;
  }

  .logo__image3 {
    display: block;
  }

  .logo__button {
    display: none;
  }
}
