.main-nav {
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 400px;
}

.main-nav__wrapper {
  margin: 0 auto;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

@media (min-width: 660px) {
  .main-nav {
    margin-bottom: 0;
  }
}

@media (min-width: 960px) {
  .main-nav__wrapper {
    width: 940px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
