.map {
  margin: 0 auto;
  width: 320px;
  height: 200px;
  position: relative;
  background-color: #f2f2f2;
}

.map__interactive {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 660px) {
  .map {
    width: 660px;
    height: 375px;
  }
}

@media (min-width: 960px) {
  .map {
    width: 960px;
    height: 500px;
  }
}
