.map {
  min-height: 200px;
  background-color: #f2f2f2;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-map-mobile@2x.png 2x");
  }
}

.map::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

.map__interactive {
  display: block;
  width: 100%;
  height: 200px;
}

@media (min-width: 660px) {
  .map {
    min-height: 370px;
    background-image: url("../img/bg-map-tablet@1x.png 1x");
  }

  .map__interactive {
    height: 370px;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-map-tablet@2x 2x");
  }
}

@media (min-width: 960px) {
  .map {
    min-height: 500px;
    background-image: url("../img/bg-map-desktop@1x.png 1x");
  }

  .map__interactive {
    height: 500px;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-map-desktop@2x.png 2x");
  }
}
