.page-footer {
  min-width: 320px;
  padding-top: 45px;
  text-align: center;
  margin: 0 auto;
  background-color: #ffffff;
/*  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom center; */
}

.page-footer__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.page-footer__contacts {
  background-color: #ffffff;
}

.contacts__head {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  color: #283645;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 40px;
}

.contacts__item {
  padding-bottom: 25px;
}

.contacts__title {
  line-height: 18px;
}

.contacts__text {
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
}

.contacts__phone {
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
}

@media (min-width: 660px) {
  .page-footer {
    padding-top: 55px;
  }

  .page-footer__wrapper {
    min-width: 620px;
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  .page-footer {
    padding-top: 75px;
  }

  .page-footer__wrapper {
    min-width: 940px;
    padding: 0 20px;
  }
}
