.page-header {
  color: #ffffff;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #1d2631;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding: 20px;
  margin: 0 auto;
}

.logo__link {
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }

  &:active {
    color: #ffffff;
  }

  &:visited {
    color: #ffffff;
  }
}

@media (min-width: 660px) {
  .page-header {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page-header__content {
    width: 620px;
    padding: 40px 0px;
  }
}

@media (min-width: 960px) {
  .page-header__content {
    padding-top: 25px;
    padding-bottom: 40px;
  }
}
