.page-header {
  color: #ffffff;
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header__content {
  width: 280px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.page-header__wrapper {
  margin: 0 auto;
}

.logo__link {
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }

  &:active {
    color: #ffffff;
  }

  &:visited {
    color: #ffffff;
  }
}

@media (min-width: 660px) {
  .page-header {
    min-height: 0;
  }

  .page-header__content {
    width: 620px;
    padding: 40px 20px;
  }
}
@media (min-width: 960px) {
  .page-header__content {
    width: 940px;
    padding: 25px 10px 40px 10px;
  }
}
