.page-header {
  min-width: 320px;
  color: #ffffff;
  background-color: #283645;
}

.page-header__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.logo__link {
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }

  &:active {
    color: #ffffff;
  }

  &:visited {
    color: #ffffff;
  }
}

.page-header__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

@media (min-width: 660px) {
  .page-header__wrapper {
    width: 620px;
    padding: 0 20px;
  }

  .page-header__content {
    padding-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .page-header__wrapper {
    width: 940px;
    padding: 0 130px;
  }
}
