.page-main {
  margin: 0 auto;
}

.page-main__background {
  min-height: 170px;
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 50% 25%;
}

.page-main__text {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  padding-top: 35px;

}

.page-main__prelude-text {
  font-size: 14px;
  padding-top: 50px;
  padding-bottom: 55px;
  text-align: center;
}

.page-main__epilogue-text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 45px;
}

.page-main__export {
  background-color: #f2f2f2;
  text-align: center;
}
