.page-main {
  margin: 0 auto;
}

.page-main__background {
  min-height: 170px;
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: 50% 25%;
}

.page-main__text {
  padding-top: 35px;
  color: #ffffff;
}
