.price {
  padding-top: 90px;
  padding-bottom: 45px;
  text-align: center;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white1.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: auto;
}

.price__wrapper {
  min-width: 280px;
  padding: 0 20px;
}

.price__list {
  border-collapse: collapse;
}

.price__topic {
  color: #ffffff;
  background-color: #283645;
  background-image: url("../img/bg-hit-tablet.svg");
  background-repeat: no-repeat;
  background-size: content;
  background-position: auto;
}

.price__name {
  text-transform: uppercase;
}

.price__cost {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.price__item {
  font-size: 14px;
  text-transform: 30px;
}

.price__toggles {
  padding-top: 35px;
  padding-bottom: 40px;
}

@media (min-width: 660px) {
  .price {
    padding-top: 85px;
    padding-bottom: 65px;
  }

  .price__wrapper {
    min-width: 620px;
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  .price {
    padding-top: 150px;
    padding-bottom: 95px;
  }

  .price__wrapper {
    min-width: 940px;
    padding: 0 20px;
  }
}
