.research {
  display: none;
  background-image: url();
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center left;
}

@media (min-width: 660px) {
  .research {
    display: flex;
    text-align: left;
    padding-left: 50%;
    padding-top: 95px;
    padding-bottom: 80px;
  }

  .research__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
  }

  .research__content {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #283645;
  }

  .research__link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #d22856;
    text-decoration: underline;
  }
}

@media (min-width: 1200px) {
  .research {
    width: 525px;
    padding-left: 370px;
    padding-bottom: 115px;
    padding-top: 150px;
  }
}
