.research {
  display: none;
}

.research__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .research {
    display: flex;
    text-align: left;
  }

  .research__wrapper {
    width: 620px;
    padding: 0 20px;
    padding-top: 93px;
    padding-bottom: 64px;
    margin: 0 auto;
    background-image: url("../img/icon-editor-diagram-fill.svg"), url("../img/icon-timer.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 200px 200px, 240px 280px;
    background-position: 9% 66%, 5% 65%;
    position: relative;
  }

  .research__wrapper::before {
    content: "24";
    color: #d22856;
    font-size: 95px;
    font-weight: 700;
    position: absolute;
    left: 13%;
    top: 52%;
  }

  .research__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    margin-left: 50%;
    margin-bottom: 11px;
  }

  .research__content {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #283645;
    margin-left: 50%;
    margin-bottom: 6px;
  }

  .research__link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #d22856;
    text-decoration: underline;
    margin-left: 50%;
  }
}

@media (min-width: 960px) {
  .research {
    background-color: #f2f2f2;
  }

  .research__wrapper {
    width: 940px;
    padding: 0 10px;
    padding-top: 146px;
    padding-bottom: 48px;
    margin-bottom: 65px;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 300px 345px;
    background-position: 2% 100%;
    position: relative;
  }

  .research__wrapper::before {
    content: "24";
    color: #d22856;
    font-size: 120px;
    position: absolute;
    left: 9%;
    top: 57%;
  }

  .research__title {
    width: 300px;
    margin-left: 39%;
    margin-bottom: 22px;
  }

  .research__content {
    margin-left: 39%;
    margin-bottom: 31px;
    font-size: 18px;
    line-height: 30px;
  }

  .research__link {
    margin-left: 39%;
    font-size: 18px;
    line-height: 30px;
  }
}
