.reviews {
  text-align: center;
  background-color: #ffffff;
}

.reviews__wrapper {
  min-width: 280px;
  padding: 0 20px;
}

.reviews__item {
  margin: 0 auto;
}

.reviews__author-name {
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  padding-top: 50px;
  padding-bottom: 20px;
}

.reviews__text {
  font-size: 14px;
  padding-bottom: 35px;
}

.reviews__toggles {
  margin-bottom: 40px;
}

@media (min-width: 660px) {
  .reviews__wrapper {
    min-width: 620px;
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  .reviews__wrapper {
    min-width: 940px;
    padding: 0 130px;
  }
}
