.reviews {
  text-align: center;
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 40px;
}

.reviews__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.reviews__container {
  display: block;
}

.reviews__buttons {
  display: none;
}

.reviews__author-about {
  display: none;
  font-size: 14px;
  line-height: 30px;
}

.reviews__author-name {
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
}

.reviews__toggles {
  margin-bottom: 40px;
}

@media (min-width: 660px) {
  .reviews {
    padding-top: 45px;
    padding-bottom: 20px;
  }

  .reviews__wrapper {
    width: 620px;
    padding: 0 20px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__author-name {
    order: 2;
  }

  .reviews__author-about {
    display: block;
    font-size: 14px;
    line-height: 30px;
    order: 3;
  }
}

@media (min-width: 960px) {
  .reviews {
    padding-top: 120px;
    padding-bottom: 45px;
    margin-top: 70px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center top;
  }

  .reviews__wrapper {
    width: 940px;
    padding: 0 10px;
  }

  .reviews__container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .reviews__text {
    font-size: 18px;
    width: 680px;
  }

  .reviews__buttons {
    display: block;
    margin-top: 20px;
  }

  .reviews__button {
    border: none;
    width: 22px;
    height: 41px;
    background-color: transparent;
  }

  .reviews__button--previous {
    display: block;
    width: 50px;
    height: 50px;
    border-top: 1px solid #bec2c7;
    border-left: 1px solid #bec2c7;
    transform: rotate(-45deg);
    margin-bottom: 100px;
  }

  .reviews__button--previous:hover {
    border-top: 1px solid #7e868f;
    border-left: 1px solid #7e868f;
  }

  .reviews__button--previous:active {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  .reviews__button--next {
    display: block;
    width: 50px;
    height: 50px;
    border-top: 1px solid #bec2c7;
    border-right: 1px solid #bec2c7;
    transform: rotate(45deg);
    margin-bottom: 100px;
  }

  .reviews__button--next:hover {
    border-top: 1px solid #7e868f;
    border-right: 1px solid #7e868f;
  }

  .reviews__button--next:active {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}
