.shoot__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.shoot__container {
  width: 300px;
  margin-bottom: 20px;
}

.shoot__image {
  max-width: 100%;
  height: auto;
  font-size: 0;
  vertical-align: bottom;
}

.shoot__info {
  max-width: 246px;
  background-color: #f2f2f2;
  padding: 19px 17px 21px 17px;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shoot__user {
  font-size: 14px;
  font-weight: 700;
}

.shoot__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.shoot__content {
  font-size: 14px;
  min-width: 100%;
  flex-grow: 1;
}

.shoot__counter {
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
  padding-left: 33px;
  margin-top: 8px;
  position: relative;
}

.shoot__counter::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  top: 28%;
  left: 1%;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-width: 660px) {
  .shoot__wrapper {
    width: 620px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .shoot__container:nth-child(odd) {
    margin-right: 20px;
  }

  .shoot__info {
    max-width: 300px;
    height: 155px;
    padding: 17px 20px;
    box-sizing: border-box;
  }

  .shoot__counter {
    padding-left: 0;
  }

  .shoot__counter::before {
    top: 28%;
    left: 90%;
  }

  .shoot__image {
    width: 300px;
    height: 400px;
  }
}

@media (min-width: 960px) {
  .shoot__wrapper {
    width: 940px;
    padding: 0 10px;
  }

  .shoot__container {
    margin-right: 20px;
    margin-bottom: 55px;
  }

  .shoot__container:nth-child(3n) {
    margin-right: 0;
  }
}
