.social__list {
  display: flex; /* временно пропишу флексбокс, чтобы можно было примерно подсчитать расстояния отступов */
  justify-content: space-around;
  align-items: baseline;
  margin-top: 30px;
  margin-bottom: 14px;
  backgroubd-color: red;
}

.social__item {
  width: 51px;
  height: 51px;
  border: 2px solid #e9ebec;
  border-radius: 50% 50%;
  text-align: center;
}
