.textarea {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 15px;
  text-align: center;
}

.appointment__name--textarea {
  color: #d22856;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
  padding-left: 0;
}

.textarea__body {
  width: 236px;
  border: 2px solid #e5e5e5;
  padding: 18px 20px 18px 20px;
  margin-bottom: 48px;
  box-sizing: content-box;
}
